body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1280px;
    max-width: 100%;
    margin-top: 100px;
    align-items: center;
    padding-left: 15px;
    background-color: rgba(49, 46, 46, 0.932);
}

 
h2{
    font-size: 35;
    
}
ul{
    font-size: 20px;

}

*{
    font-family: 'Koulen', cursive;
}

#per{
    align-self: right 1000px;
}

ul{
    list-style-type: none;
    list-style-position: center;
}

img{
    border-radius: 50%;
    width: 180px;
    
}