body{
    margin: auto;
    margin-top: 100px;
    text-align: center;
    
}

*{
    font-family: 'Koulen', cursive;
}

ul{
    list-style-type: none;
    list-style-position: center;
}

img{
    border-radius: 50%;
    
}