body{
    width: 1280px;
    max-width: 100%;
    margin-top: 100px;
    padding-left: 15px;
    background-color: rgba(49, 46, 46, 0.932);
}


#section1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#section3{
    display: flex;
    flex-direction: column;
    align-items: center;

}

a{
    text-decoration: none;
    border: 2px solid;   
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

a:hover{
    background-color: blueviolet;
    color: white;
}

#a1{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    gap: 10px;
    
    
}


h2{
    font-size: 35;
    
}
ul{
    font-size: 20px;

}

*{
    font-family: 'Koulen', cursive;
    color: white;
}



ul{
    list-style-type: none;
    list-style-position: center;
}

img{
    border-radius: 50%;
    width: 180px;
    
}