body {
    width: 1280px;
    max-width: 100%;
    margin-top: 0 auto;
    padding: auto;
    background-color: rgb(49, 46, 46);

}

nav {
    margin-top: -298px;
    margin-left: -10px;
    background-color: rgba(61, 58, 58, 0.795);
    height: 75px;

}

#section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

#section2 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}


#section3 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;


}

#section4 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;


}



a {
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

a:hover {
    background-color: rgb(174, 43, 226);
    color: white;
}

#a1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 300px;
    gap: 10px;


}

#a2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 35;

}

ul {
    font-size: 20px;

}

* {
    font-family: 'Koulen', cursive;
    color: white;
}



ul {
    list-style-type: none;
    list-style-position: center;
}

img {
    border: 2px solid;
    border-color: blueviolet;
    border-radius: 50%;
    width: 180px;

}